@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

*::after,
*::before {
  box-sizing: border-box;
}

@theme {
  --font--main: "Inter";
  --font-playfair: "Playfair Display";
}
